#clock-container{
    width: 50vw;
    height: 50vw;
    background: url(./clock.png) no-repeat;
    border: 10px solid red;
    background-size: 100%;
    margin: auto;
    background-color: black;
}